<div
	class="ARGS chat-card stat-card"
	data-actor-id="{{data.actor.id}}"
	data-item-id="{{data.item.id}}"
	{{#if tokenId}}data-token-id="{{tokenId}}"{{/if}}
>
	<header class="card-header flexrow">	
		<div class="header-title">
			<h3 class="item-name">{{title}}</h3>
		</div>
	</header>	
	<div class="d10-roll card-check-rolls inline-result expanded">
		<div
			class="card-check-roll inline-result expanded"
			data-blind="{{data.rolls.main.blind}}"
		>
			{{#if data.rolls.main}}
							
			
				
				<div>{{{data.rolls.main.renderedHTML}}}</div>

        <hr>
				<div class="stat-valor">{{localize data.rolls.main.textoopcion}}</div>
		<hr>	
			<div class="stat-valor">{{localize "ARGS.statroll.top7"}}</div>
			{{/if}}
		</div>
	</div>

	<footer class="card-footer">
		
	</footer>
</div>
