
{{#each @root.config.religionspell as |religion idr|}} 
        {{#if (eq idr @root.system.rel1)}}

       <ol class="items-list-{{idr}}">
                      <li class="item flexrow items-header">
                             <div class="item-namecenter">{{localize "ARGS.hechizos.conjuros" }}: {{localize (concat "ARGS.hechizos." idr) }}</div>                    
                          <div class="item-level"> {{localize "ARGS.hechizos.nivelab"}}</div>
                          <div class="item-pm">{{localize "ARGS.magia.puntosmagia"}}</div>
                          <div class="item-modconj" >{{localize "ARGS.hechizos.conjmod"}}</div>
                          <div class="item-tiempocast"> {{localize "ARGS.hechizos.tiempocasteo"}}</div>
                          <div class="item-duracion"> {{localize "ARGS.hechizos.duracion"}}</div>
                          <div class="item-resistible"> {{localize "ARGS.hechizos.resistab"}}</div>
                          <div class="item-transferible"> {{localize "ARGS.hechizos.transfab"}}</div>
                          <div class="item-preparado"> {{localize "ARGS.hechizos.preparado"}}?</div>
                          <div class="item-controls"> Ctrls </div>
                      </li>
                    
        {{#each @root.items as |item iid|}}        
        {{#if (and (eq item.type "hechizo") (eq item.system.escuela ../../ide))}}
            {{#if (eq item.system.dios idr) }}               
                        
                     <li class="item flexrow {{#if ctx.isExpanded}}expanded{{/if}}" data-item-id="{{item._id}}">
                <div class="item-namecenter">
                          <div class="item-image" style="background-image: url({{item.img}})"
									      data-item-id="{{item._id}}">
                        <!--a class="rollable" data-roll-type="item"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></a-->
                        <i class="fas fa-comment fa-lg"></i>
                        </div>
                       <div class="nombreconjuro">{{item.name}}</div>
                    </div>
                 <div class="item-level">{{item.system.nivelhechizo}}</div>
                 <div class="item-pm">{{item.system.pm}}</div>
                 <div class="item-modconj">{{item.system.modificadorconjuracion}}</div>
                 <div class="item-tiempocast">{{item.system.tiempocasteo}}</div>
                 <div class="item-duracion">{{item.system.duracion}}</div>
                 {{#if (eq item.system.resistible true)}} <i class="fas fa-duotone fa-check"></i> {{else}} <i class="fas fa-solid fa-x"></i> {{/if}}
                 {{#if (eq item.system.transferible true)}} <i class="fas fa-duotone fa-check"></i> {{else}} <i class="fas fa-solid fa-x"></i> {{/if}}
                 <a class="item-control item-toggle" data-action="itemToggle"  title="{{localize "ARGS.consumible.preparado"}}"> 
                          {{#if (eq item.system.preparado true)}} <i class="fa-solid fa-star"></i></a>{{else}}<i class="fa-regular fa-star"></i>  {{/if}}
                <div class="item-controls">                        
                        <a class="item-control hechizos-rapidos" title="Cast Spell" data-actor-id="{{@root.actor.id}}"
	                      data-item-id="{{item._id}}" data-roll-type="item"><i class="fas fa-solid fa-hand-sparkles" title="{{localize 'ARGS.hechizos.lanzar'}}"></i></a>
                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>                                               
                    </div>
                    

              </li>
            {{/if}}  
            <!-- Los hechizos de clase que los liste bajo el primer dios del personaje.-->
            {{#if (eq item.system.dios "none") }}               
                        
                     <li class="item flexrow {{#if ctx.isExpanded}}expanded{{/if}}" data-item-id="{{item._id}}">
                <div class="item-namecenter">
                          <div class="item-image" style="background-image: url({{item.img}})"
									      data-item-id="{{item._id}}">
                        <!--a class="rollable" data-roll-type="item"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></a-->
                        <i class="fas fa-comment fa-lg"></i>
                        </div>
                       <div class="nombreconjuro">{{item.name}}</div>
                    </div>
                 <div class="item-level">{{item.system.nivelhechizo}}</div>
                 <div class="item-pm">{{item.system.pm}}</div>
                 <div class="item-modconj">{{item.system.modificadorconjuracion}}</div>
                 <div class="item-tiempocast">{{item.system.tiempocasteo}}</div>
                 <div class="item-duracion">{{item.system.duracion}}</div>
                 {{#if (eq item.system.resistible true)}} <i class="fas fa-duotone fa-check"></i> {{else}} <i class="fas fa-solid fa-x"></i> {{/if}}
                 {{#if (eq item.system.transferible true)}} <i class="fas fa-duotone fa-check"></i> {{else}} <i class="fas fa-solid fa-x"></i> {{/if}}
                 <a class="item-control item-toggle" data-action="itemToggle"  title="{{localize "ARGS.consumible.preparado"}}"> 
                          {{#if (eq item.system.preparado true)}} <i class="fa-solid fa-star"></i></a>{{else}}<i class="fa-regular fa-star"></i>  {{/if}}
                <div class="item-controls">                        
                        <a class="item-control hechizos-rapidos" title="Cast Spell" data-actor-id="{{@root.actor.id}}"
	                      data-item-id="{{item._id}}" data-roll-type="item"><i class="fas fa-solid fa-hand-sparkles" title="{{localize 'ARGS.hechizos.lanzar'}}"></i></a>
                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>                                               
                    </div>
                    

              </li>
            {{/if}}    

        {{/if}}
        {{/each}}
      </ol>    
      {{/if}}
    
        {{#if (eq idr @root.system.rel2)}}

       <ol class="items-list-{{idr}}">
                      <li class="item flexrow items-header">
                          <div class="item-namecenter">{{localize "ARGS.hechizos.conjuros" }}: {{localize (concat "ARGS.hechizos." idr) }}</div>                    
                          <div class="item-level"> {{localize "ARGS.hechizos.nivelab"}}</div>
                          <div class="item-pm">{{localize "ARGS.magia.puntosmagia"}}</div>
                          <div class="item-modconj" >{{localize "ARGS.hechizos.conjmod"}}</div>
                          <div class="item-tiempocast"> {{localize "ARGS.hechizos.tiempocasteo"}}</div>
                          <div class="item-duracion"> {{localize "ARGS.hechizos.duracion"}}</div>
                          <div class="item-resistible"> {{localize "ARGS.hechizos.resistab"}}</div>
                          <div class="item-transferible"> {{localize "ARGS.hechizos.transfab"}}</div>
                          <div class="item-preparado"> {{localize "ARGS.hechizos.preparado"}}?</div>
                          <div class="item-controls"> Ctrls </div>
                      </li>
        {{#each @root.items as |item iid|}}        
        {{#if (and (eq item.type "hechizo") (eq item.system.escuela ../../ide))}}
            {{#if (eq item.system.dios idr) }}  
                                
             <li class="item flexrow {{#if ctx.isExpanded}}expanded{{/if}}" data-item-id="{{item._id}}">
                <div class="item-namecenter">
                        <div class="item-image" style="background-image: url({{item.img}})"
									      data-item-id="{{item._id}}">
                        <!--a class="rollable" data-roll-type="item"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></a-->
                        <i class="fas fa-comment fa-lg"></i>
                        </div>
                        
                       <div class="nombreconjuro">{{item.name}}</div>
                    </div>
                 <div class="item-level">{{item.system.nivelhechizo}}</div>
                 <div class="item-pm">{{item.system.pm}}</div>
                 <div class="item-modconj">{{item.system.modificadorconjuracion}}</div>
                 <div class="item-tiempocast">{{item.system.tiempocasteo}}</div>
                 <div class="item-duracion">{{item.system.duracion}}</div>
                 {{#if (eq item.system.resistible true)}} <i class="fas fa-duotone fa-check"></i> {{else}} <i class="fas fa-solid fa-x"></i> {{/if}}
                 {{#if (eq item.system.transferible true)}} <i class="fas fa-duotone fa-check"></i> {{else}} <i class="fas fa-solid fa-x"></i> {{/if}}
                 <a class="item-control item-toggle" data-action="itemToggle"  title="{{localize "ARGS.consumible.preparado"}}"> 
                          {{#if (eq item.system.preparado true)}} <i class="fa-solid fa-star"></i></a>{{else}}<i class="fa-regular fa-star"></i>  {{/if}}
                <div class="item-controls"> 
                       <a class="item-control hechizos-rapidos" title="Cast Spell" data-actor-id="{{@root.actor.id}}"
	                      data-item-id="{{item._id}}" data-roll-type="item"><i class="fas fa-solid fa-hand-sparkles" title="{{localize 'ARGS.hechizos.lanzar'}}"></i></a>                       
                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                    

              </li>
              {{#if ctx.isExpanded}}
                {{> "ARGS.item-summary" (lookup @root.expandedData item.id)}}
               {{/if}}
            {{/if}}          
        {{/if}}
        {{/each}}
      </ol>    
      {{/if}}
    
        {{#if (eq idr @root.system.rel3)}}

        <ol class="items-list-{{idr}}">
                      <li class="item flexrow items-header">
                          <div class="item-namecenter">{{localize "ARGS.hechizos.conjuros" }}: {{localize (concat "ARGS.hechizos." idr) }}</div>                    
                          <div class="item-level"> {{localize "ARGS.hechizos.nivelab"}}</div>
                          <div class="item-pm">{{localize "ARGS.magia.puntosmagia"}}</div>
                          <div class="item-modconj" >{{localize "ARGS.hechizos.conjmod"}}</div>
                          <div class="item-tiempocast"> {{localize "ARGS.hechizos.tiempocasteo"}}</div>
                          <div class="item-duracion"> {{localize "ARGS.hechizos.duracion"}}</div>
                          <div class="item-resistible"> {{localize "ARGS.hechizos.resistab"}}</div>
                          <div class="item-transferible"> {{localize "ARGS.hechizos.transfab"}}</div>
                          <div class="item-preparado"> {{localize "ARGS.hechizos.preparado"}}?</div>
                          <div class="item-controls"> Ctrls </div>
                      </li>
        {{#each @root.items as |item iid|}}        
        {{#if (and (eq item.type "hechizo") (eq item.system.escuela ../../ide))}}
            {{#if (eq item.system.dios idr) }}                            
             <li class="item flexrow {{#if ctx.isExpanded}}expanded{{/if}}" data-item-id="{{item._id}}">
                <div class="item-namecenter">
                          <div class="item-image" style="background-image: url({{item.img}})"
									      data-item-id="{{item._id}}">
                        <!--a class="rollable" data-roll-type="item"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></a-->
                        <i class="fas fa-comment fa-lg"></i>
                        </div>
                       <div class="nombreconjuro">{{item.name}}</div>
                    </div>
                 <div class="item-level">{{item.system.nivelhechizo}}</div>
                 <div class="item-pm">{{item.system.pm}}</div>
                 <div class="item-modconj">{{item.system.modificadorconjuracion}}</div>
                 <div class="item-tiempocast">{{item.system.tiempocasteo}}</div>
                 <div class="item-duracion">{{item.system.duracion}}</div>
                 {{#if (eq item.system.resistible true)}} <i class="fas fa-duotone fa-check"></i> {{else}} <i class="fas fa-solid fa-x"></i> {{/if}}
                 {{#if (eq item.system.transferible true)}} <i class="fas fa-duotone fa-check"></i> {{else}} <i class="fas fa-solid fa-x"></i> {{/if}}
                 <a class="item-control item-toggle" data-action="itemToggle"  title="{{localize "ARGS.consumible.preparado"}}"> 
                          {{#if (eq item.system.preparado true)}} <i class="fa-solid fa-star"></i></a>{{else}}<i class="fa-regular fa-star"></i>  {{/if}}
                <div class="item-controls">       
                  <a class="item-control hechizos-rapidos" title="Cast Spell" data-actor-id="{{@root.actor.id}}"
	                      data-item-id="{{item._id}}" data-roll-type="item"><i class="fas fa-solid fa-hand-sparkles" title="{{localize 'ARGS.hechizos.lanzar'}}"></i></a>                 
                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                    

              </li>
            {{/if}}          
        {{/if}}
        {{/each}}
      </ol>    
      {{/if}}
    
         


    {{/each}}