</li>
<li class="item-summary">
  {{{description}}} 

 <!--div class="boton-hechizo">
		<button
			class="item-control"
			data-actor-id="{{actor.id}}"
			data-item-id="{{item._id}}"
			data-action="hechizos-rapidos"
			data-roll-type="item"
		>
			{{localize 'ARGS.hechizos.lanzar'}}
		</button>
		{{actor.id}} y  {{item._id}}
		 <span  class="fas fa-solid fa-hand-sparkles hechizos-rapidos" data-actor-id="{{actor.id}}"
	                      data-item-id="{{item._id}}" data-roll-type="item"></span>     
	</div-->


