 <div class="levelo-msg" id="levelo-msg" >
                      
                <div class="leveleodiv"> 
                    <div class="leveleomsg"> "Hello {{actor.name}}. {{localize "ARGS.infotexto.leveleomsg" }}</div>
                
                    <div class="leveleobutt">
                        <ul>
                        <li><img  src="/systems/ARGS/assets/CharSheet/car-destreza_wh.png"  data-tooltip="{{id}}">
                        <input class="carlevel" type="number" data-label="destreza" value="{{system.caracteristicas.destreza.value}}" disabled ><a class="levelbutton">
                        <i class="fas fa-plus"></i></a>
                        <button class="levelconfirm" ><i class="fas fa-octagon-check"></i> </button></li>
                        <li><img  src="/systems/ARGS/assets/CharSheet/car-fuerza_wh.png"  data-tooltip="{{id}}">
                        <input class="carlevel" type="number" data-label="fuerza" value="{{system.caracteristicas.fuerza.value}}" disabled ><a class="levelbutton">
                        <i class="fas fa-plus"></i></a>
                        <button class="levelconfirm" ><i class="fas fa-octagon-check"></i> </button></li>
                        <li><img  src="/systems/ARGS/assets/CharSheet/car-intuicion_wh.png"  data-tooltip="{{id}}">
                        <input class="carlevel" type="number" data-label="intuicion" value="{{system.caracteristicas.intuicion.value}}" disabled ><a class="levelbutton">
                        <i class="fas fa-plus"></i></a>
                        <button class="levelconfirm" ><i class="fas fa-octagon-check"></i> </button></li>
                        <li><img  src="/systems/ARGS/assets/CharSheet/car-carisma_wh.png"  data-tooltip="{{id}}">
                        <input class="carlevel" type="number" data-label="carisma" value="{{system.caracteristicas.carisma.value}}" disabled ><a class="levelbutton">
                        <i class="fas fa-plus"></i></a>
                        <button class="levelconfirm" ><i class="fas fa-octagon-check"></i> </button></li>
                        <li><img  src="/systems/ARGS/assets/CharSheet/car-habilidad_wh.png"  data-tooltip="{{id}}">
                        <input class="carlevel" type="number" data-label="habilidad" value="{{system.caracteristicas.habilidad.value}}" disabled ><a class="levelbutton">
                        <i class="fas fa-plus"></i></a>
                        <button class="levelconfirm" ><i class="fas fa-octagon-check"></i> </button></li>
                        <li><img  src="/systems/ARGS/assets/CharSheet/car-constitucion_wh.png"  data-tooltip="{{id}}">
                        <input class="carlevel" type="number" data-label="constitucion" value="{{system.caracteristicas.constitucion.value}}" disabled ><a class="levelbutton">
                        <i class="fas fa-plus"></i></a>
                        <button class="levelconfirm" ><i class="fas fa-octagon-check"></i> </button></li>
                         <li><img  src="/systems/ARGS/assets/CharSheet/car-cultura_wh.png"  data-tooltip="{{id}}">
                        <input class="carlevel" type="number" data-label="cultura" value="{{system.caracteristicas.cultura.value}}" disabled ><a class="levelbutton">
                        <i class="fas fa-plus"></i></a>
                        <button class="levelconfirm" ><i class="fas fa-octagon-check"></i> </button></li>
                        
                    </ul>
                    </div>
                    
                  </div>
</div>