<form class="{{cssClass}} flexcol" autocomplete="off">
    <header class="sheet-header">
        <img class="profile" src="{{item.img}}" data-tooltip="{{item.name}}" data-edit="img"/>

		    <div class="header-detalles">
            <h1 class="itemnombre">               
                <input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'ARGS.ItemName' }}"/>
            </h1>
            <div class="item-subtitulo">
                <h4 class="item-tipo">{{localize "ITEM.TypeConsumibles"}}:</h4>
                <span class="item-status">
                    {{localize (concat "ARGS.consumible." system.tipoConsumible) }}
                   </span>
            </div>

            <ul class="tipocalidad">
                <li>
                   Calidad:
                </li>
                <li>
                    <select name="system.calidad">
                        {{#select system.calidad}}
						{{#each config.tipoCalidad as |name type|}}
						<option value="{{type}}">{{localize name}}</option>
						{{/each}}
						{{/select}}		 
                    </select>
                </li>
                
            </ul>
        </div>
       
	</header>
	 {{!-- Item Sheet Navigation --}}
    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item" data-tab="descripcion">{{ localize "ARGS.tab.descripcion" }}</a>
        <a class="item" data-tab="detalles">{{ localize "ARGS.tab.detalles" }}</a>
        <a class="item" data-tab="efectos">{{ localize "ARGS.tab.efectos" }}</a>
    </nav>
	
    {{!-- Item Sheet Body --}}
    <section class="sheet-body">
		    {{> "systems/ARGS/templates/partials/items-descripcion.hbs" }}

	{{!-- Details Tab --}}
       <div class="tab detalles" data-group="primary" data-tab="detalles">
            <div class="cons-item item" data-item-id="{{item._id}}">
               
            <h3 class="form-header">{{ localize "ARGS.items.itemdetallecons" }}</h3>

             {{!-- Consumible Tipo --}}
            <div class="form-group">
                <label>{{ localize "ARGS.items.itemtipoconsumible" }}</label>
                <select name="system.tipoConsumible">
				{{#select system.tipoConsumible}}
				{{#each config.tiposConsumibles as |name type|}}
				<option value="{{type}}">{{localize name}}</option>
				{{/each}}
				{{/select}}		 
				</select>
            </div>
              {{!-- Forma uso del item --}}
            <h3 class="form-header">{{ localize "ARGS.consumible.formauso" }}</h3>
            <div class="form-group">               
                <label style="text-align: right; padding-right: 5px;">{{ localize "ARGS.items.itemuso" }}</label>
                <input type="number" name="system.usos.value" value="{{system.usos.value}}" placeholder="0" />   
                <label style="text-align: right; padding-right: 5px;">{{ localize "ARGS.items.itempor" }}</label>
                <input type="text" name="system.usos.por" value="{{system.usos.por}}" placeholder={{ localize "ARGS.items.itempordesc" }} />
            </div>
              {{!-- Consumible estado --}}
            <div class="form-group">
                <label>{{ localize "ARGS.items.itemconsstatus" }}</label>
                <select name="system.estado">
				{{#select system.estado}}
				{{#each config.estadoconsumible as |name type|}}
				<option value="{{type}}">{{localize name}}</option>
				{{/each}}
				{{/select}}		 
				</select>
            </div>
             {{!-- Consumible Efecto desc --}}
            <h3 class="form-header">{{ localize "ARGS.consumible.formauso" }}</h3>
            <div class="form-group">
                <input type="text" name="system.efecto" value="{{system.efecto}}"  />   
            </div> 
             {{!-- Consumible Formula --}}
            <h3 class="form-header">{{ localize "ARGS.consumible.formula" }}</h3>
            <div class="form-group">
                <input type="text" name="system.formula" value="{{system.formula}}"  />   
            </div> 
           
           </div>
        </div>

        {{!-- Effects Tab --}}
        <div class="tab effects flexcol" data-group="primary" data-tab="efectos">
          EFECTOS:
        </div>
	</section>
</form>
