<form class="{{cssClass}} flexcol" autocomplete="off">
    <header class="sheet-header">
        <img class="profile" src="{{item.img}}" data-tooltip="{{item.name}}" data-edit="img"/>

		    <div class="header-detalles">
            <h1 class="itemnombre">               
                <input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'ARGS.ItemName' }}"/>
            </h1>
            <div class="item-subtitulo">
                <h4 class="item-tipo">{{localize "ITEM.TypeEquipamiento"}}:</h4>
                <span class="item-status">
                    {{localize (concat "ARGS.equipamiento." system.tipoEquipamiento) }}
                   </span>
            </div>

            <ul class="tipocalidad">
                <li>
                   Calidad:
                </li>
                <li>
                    <select name="system.calidad">
                        {{#select system.calidad}}
						{{#each config.tipoCalidad as |name type|}}
						<option value="{{type}}">{{localize name}}</option>
						{{/each}}
						{{/select}}		 
                    </select>
                </li>
                
            </ul>
        </div>
       
	</header>
	 {{!-- Item Sheet Navigation --}}
    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item" data-tab="descripcion">{{ localize "ARGS.tab.descripcion" }}</a>
        <a class="item" data-tab="detalles">{{ localize "ARGS.tab.detalles" }}</a>
        <a class="item" data-tab="efectos">{{ localize "ARGS.tab.efectos" }}</a>
    </nav>
	
    {{!-- Item Sheet Body --}}
    <section class="sheet-body">
		    {{> "systems/ARGS/templates/partials/items-descripcion.hbs" }}

	{{!-- Details Tab --}}
       <div class="tab detalles" data-group="primary" data-tab="detalles">
           
            <div class="equip-item item" data-item-id="{{item._id}}">
            <h3 class="form-header">{{ localize "ARGS.items.itemdetalleequipamiento" }}</h3>

             {{!-- Consumible Tipo --}}
            <div class="form-group">
                <label>{{ localize "ARGS.items.itemtipoequipamiento" }}</label>
                <select name="system.tipoEquipamiento">
				{{#select system.tipoEquipamiento}}
				{{#each config.tiposEquipamiento as |name type|}}
				<option value="{{type}}">{{localize name}}</option>
				{{/each}}
				{{/select}}		 
				</select>
            </div>
              {{!-- Forma uso del item --}}
            <h3 class="form-header">{{ localize "ARGS.equipamiento.formauso" }}</h3>
            <div class="form-group">               
                <label style="text-align: right; padding-right: 5px;">{{ localize "ARGS.items.itemuso" }}</label>
                <input type="number" name="system.usos.value" value="{{system.usos.value}}" placeholder="0" /> 
                <label style="text-align: right; padding-right: 5px;">MAX</label>
                <input type="number" name="system.usos.max" value="{{system.usos.max}}" placeholder="0" />     
                <label style="text-align: right; padding-right: 5px;">{{ localize "ARGS.items.itempor" }}</label>
                <input type="text" name="system.usos.por" value="{{system.usos.por}}" placeholder={{ localize "ARGS.items.itempordesc" }} />
            </div>
           
           {{!-- Puede guardar items. --}}
            {{#if (eq system.tipoEquipamiento "indumentaria")}}
            <h3 class="form-header">{{ localize "ARGS.equipamiento.carga" }}</h3>
            <div class="form-group">               
                <label style="text-align: right; padding-right: 5px;">{{ localize "ARGS.equipamiento.inclcomp" }}</label>
                <input type="number" name="system.capacidad.value" value="{{system.capacidad.value}}" placeholder="0" /> 
            </div>    
            {{/if}}    

            
            {{!-- equipado --}}
            <div class="form-group stacked">
                <label>{{ localize "ARGS.items.itemequipamientostatus" }}</label>
                <div class="form-fields">
                    <label class="checkbox">
                        <input type="checkbox" name="system.equipado" {{checked system.equipado}}/> {{ localize "ARGS.items.equipado" }}
                    </label>                    
                </div>
            </div>

             {{!-- equipamietno Efecto desc --}}
            <h3 class="form-header">{{ localize "ARGS.equipamiento.formauso" }}</h3>
            <div class="form-group">
                <input type="text" name="system.efecto" value="{{system.efecto}}"  />   
            </div> 
             {{!-- Equipamiento Formula --}}
            <h3 class="form-header">{{ localize "ARGS.equipamiento.formula" }}</h3>
            <div class="form-group">
                <input type="text" name="system.formula" value="{{system.formula}}"  />   
            </div> 
           </div>
           
        </div>

           {{!-- Effects Tab --}}
        <div class="tab effects flexcol" data-group="primary" data-tab="efectos">
          
           {{> "systems/ARGS/templates/partials/efectos.hbs" }}
          
        </div>
	</section>
</form>
